<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razorpay</title>
</head>
<body>
    <form action="{% url "success_payment" %}" method="POST">
        <script
            src="https://checkout.razorpay.com/v1/checkout.js"
            data-key="rzp_test_5KeGLAL2rvLjTu" 
            data-amount="{{payment.amount}}" 
            data-currency="INR"
            data-order_id="{{payment.id}}"
            data-buttontext="Pay with Razorpay"
            data-name="Acme Corp"
            data-description="Thank You For Purchasing our Membership"
            data-image="https://example.com/your_logo.jpg"
            data-prefill.name="Mumbai Suburban Club"
            data-prefill.email="djangoclubproj@gmail.com"
            data-theme.color="#528FF0"
        ></script>
        <input type="hidden" custom="Hidden Element" name="hidden"/> 
    </form>
</body>
</html>